<!--*******MAIN APP(DROPPER) CONTAINER*******-->
<div #mainDropperContainer class="main-dropper-container">
  <div drprDropzone
       (dropZoneTransferFilesFromDragAndDrop)="transferFilesFromDragAndDrop($event)"
       (dropZoneFilesToTransfer)="addFilesFromDragAndDrop($event)"
       class="prompt-view"
       *ngIf="(numFilesInDropper$ | async) === 0; else showHasFilesView">
    <drpr-prompt-files #promptFiles
                       class="prompt-view"
                       (receivedFilesOutput)="checkIfReceivedFiles($event)">
    </drpr-prompt-files>
  </div>
</div>

<br />
<hr>
<br />
<div>
  <!--was used as a debugger that keeps track of files.-->
  Files in dropper: {{numFilesInDropper$ | async}}
</div>

<ng-template #showHasFilesView>
  <drpr-has-files-view
    drprDropzone
    (dropZoneTransferFilesFromDragAndDrop)="transferFilesFromDragAndDrop($event)"
    (dropZoneFilesToTransfer)="addFilesFromDragAndDrop($event)"
    [numFiles]="numFilesInDropper$">
  </drpr-has-files-view>
</ng-template>
