.main-dropper-container {
  display: grid;
  max-width: 545px;
  min-height: 400px;
  height: auto;
  border: 1px dashed darkgrey;
  border-radius: .5rem;
  background-color: #fafafa;
  color: #34495e;
}

.prompt-view {
  height: inherit;
  width: inherit;
  display: grid;
  align-content: center;
  justify-content: center;
}

.files-view {
  display: grid;
  grid-template-rows: 50px auto 50px;
}
