<!--*******MAIN APP(DROPPER) CONTAINER*******-->
<div #mainDropperContainer class="main-dropper-container">
  <div class="prompt-view" *ngIf="(numFilesInDropper$ | async) === 0; else showPromptFiles">
    <drpr-prompt-files class="prompt-view" #promptFiles (receivedFilesOutput)="checkIfReceivedFiles($event)"></drpr-prompt-files>
  </div>
</div>

<br />
<hr>
<br />
<div>
<!--was used as a debugger that keeps track of files.-->
  Files in dropper: {{numFilesInDropper$ | async}}
</div>

<ng-template #showPromptFiles>
  <drpr-has-files-view class="" [numFiles]="numFilesInDropper$"></drpr-has-files-view>
</ng-template>
