.content-bar-container {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  height: 50px;
  background-color: transparent;
  border-bottom: 1px solid darkgrey;
}

.selected-files {
  margin: auto;
  line-height: 50px;
  max-width: 300px;
  text-align: center;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
}

.btn-content {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  color: #2275d7;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-content:first-child {
  font-weight: 700;
}
