.content-bar {
  grid-column: 1/5;
  grid-row: 1;
}

.thumbnails-container-grid {
  margin-left: 20px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(1, minmax(120px, 120px));
  grid-gap: 10px;
  justify-content: start;
  min-height: 360px;
}

.status-bar {
  grid-column: 1/5;
  grid-row: 3;
}

.center {
  margin: auto;
}

